
  <div>
    <% if (reason === "IE_VERSION") { %>
      <strong id="ie">Your version of Internet Explorer is not supported :(</strong>
    <% } %>

    <p>
      We're sorry, but currently your browser isn't supported
    <p>
  </div>

  <div>
    BrowserID requires <a href="http://getfirefox.com" title="Get Firefox">Firefox</a>
    <p>
      or other <a href="">modern browsers</a>
    </p>
  </div>

